extends layout

block content
    h1.hintTitle= title

    form.main.user(method='POST', action='')
        span.hintSubtitle No hints this time...
        label(for='code') Code:
        input#code(type='text', name='code', required='true', value=code ? code : '')

        button.create(type='submit') Submit

    if errors
        ul.errors
            each error in errors
                li= error.msg