doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="icon", href="/images/grape.png")
  body
    header
      nav
        .logo
          a(href="/")
            img(src="/images/grape.png")
            span Grapevine
        .links
          if currentUser
            if !currentUserIsMember
              a(href="/join-form") Join the Club
            if ! currentUserIsAdmin
              a(href="/admin-form") Become an Admin
            a(href="/log-out") Log Out
          else
            a(href="/log-in") Log In
            a(href="/sign-up") Sign Up
    main
      block content
    footer
      p © 2024 James Olsen. All Rights Reserved. 
      p Built and designed by
        |
        a(href="https://github.com/olsenjames1116") olsenjames1116
