doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      nav 
        div.logo
          a(href='/') Home
        div.links
          if currentUser 
            if !currentUserIsMember
              a(href='/join') Join the Club
            a(href='/log-out') Log Out
          else
            a(href='/log-in') Log In
            a(href='/sign-up') Sign Up
    block content
