extends layout

block content
    h1= title
    a(href='/messages/message-form')
        button(type='button') New Message

    if messages
        ul
            for message in messages
                li= message.text