extends layout

block content
    h1= title

    form(method='POST', action='')
        label(for='text') Message:
        textarea#text(name='text', required='true', value=message ? message.text : '')

        button(type='submit') Submit
        a(href='/messages')
            button(type='button') Cancel

    if errors
        ul
            for error in errors
                li= error.msg